/* Fix user-agent */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 30%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat {
  width: 30%;
  box-shadow: 2px 4px 9px 4px #9c989838;
  margin-left: 33%;
  border-radius: 10px;
  height: 96%;
  margin-top: 1%;
}

.chat.page {
  display: none;
}

/* Font */

.message {
  font-size: 18px;
}

.messages {
  font-size: 125%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

.log:last-child {
  padding-bottom: 10px;
}

/* Messages */

.chatArea {
  height: 94%;
  padding-bottom: 60px;
  width: 100%;
  padding: 8px;
  margin: 0;
  background: #fffeff;
  resize: none;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
	padding:8px;
  margin:0;
  width: 100%;
  margin-left:0px; 
	background: white;
	resize: none; 
	border: 2px solid #dadada;
  border-radius: 7px;
}

.clickHandler {
  float: right;
  margin-top: 10%;
  padding-right: 5%;
  font-size: 26px;
}

.clickHandler:hover {
  cursor: pointer;
}